<!--  <nav class="navbar navbar-expand-md navbar-dark  bg-dark">
      <a class="navbar-brand" routerLink="/">App Name</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto navbar-left">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <ul class="navbar-nav  navbar-right">
           <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Profile</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" routerLink="/">Blog</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" routerLink="/">Login</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" routerLink="/">Logout</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" routerLink="/register">Register</a>
          </li>
        </ul>
        
      </div>
    </nav> -->
  <nav class="navbar navbar-light bg-faded rounded navbar-toggleable-md">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#containerNavbar" aria-controls="containerNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Navbar</a>

        <div class="collapse navbar-collapse" id="containerNavbar">
          <ul class="navbar-nav mr-auto navbar-left">
            <li  class="nav-item active">
            <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
          </li>
            
          </ul>
          <ul class="navbar-nav navbar-right">
            <li *ngIf="auth.isLoggedIn()" class="nav-item">
            <a class="nav-link" routerLink="/dashboard">Dashboard</a>
          </li>
          <li *ngIf="auth.isLoggedIn()" class="nav-item">
            <a class="nav-link" routerLink="/profile">Profile</a>
          </li>
           <li *ngIf="auth.isLoggedIn()" class="nav-item">
            <a class="nav-link" routerLink="/blog">Blog</a>
          </li>
           <li *ngIf="!auth.isLoggedIn()" class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
           <li *ngIf="auth.isLoggedIn()" class="nav-item" (click)="logout()">
            <a class="nav-link">Logout</a>
          </li>
           <li *ngIf="!auth.isLoggedIn()" class="nav-item">
            <a class="nav-link" routerLink="/register">Register</a>
          </li>
            
          </ul>
          
        </div>
      </nav>
