<h1 class="page-header">Register</h1>
<div class="row show-hide-message">
	<div [ngClass]="messageClass">
		{{message}}
	</div>
</div>
<form [formGroup]='form' (submit)="register()">
  <div class="form-group">
    <label for="Username">Username</label>
     <div [ngClass]="{'has-danger':(form.controls.username.errors && form.controls.username.dirty) || (!usernameValid && form.controls.username.dirty),'has-success':!form.controls.username.errors && usernameValid}">
    <input type="text" formControlName="username" (blur)="checkUsername()" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter Username">
    <ul class="help-block">
    	<li *ngIf="form.controls.username.errors?.required && form.controls.username.dirty">This field is required</li>
    	<li *ngIf="usernameMessage">{{usernameMessage}}</li>
    </ul>
	</div>
  </div>
   <div class="form-group">
    <label for="Email">Email address</label>
  	<div [ngClass]="{'has-danger':(form.controls.email.errors && form.controls.email.dirty) || (!emailValid && form.controls.email.dirty),'has-success':!form.controls.email.errors && emailValid}">
    <input type="email" autocomplete="off" (blur)="checkEmail" formControlName="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
    <ul class="help-block">
    	<li *ngIf="form.controls.email.errors?.required && form.controls.email.dirty">This field is required</li>
    	<li *ngIf="emailMessage">{{emailMessage}}</li>
    </ul>
	</div>
  </div>
  <div class="form-group">
    <label for="Password">Password</label>
    <div [ngClass]="{'has-danger':(form.controls.password.errors && form.controls.password.dirty),'has-success':(!form.controls.password.errors)}">
    <input type="password" formControlName="password" class="form-control" id="password" placeholder="Password">
    <ul class="help-block">
    	<li *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">This field is required</li>
    </ul>
	</div>
  </div>
  <div class="form-group">
    <label for="Confirm">Confirm Password</label>
     <div [ngClass]="{'has-danger':(form.controls.confirm.errors && form.controls.confirm.dirty  || form.errors?.matchingPassword && form.controls.password.dirty),'has-success':(!form.controls.confirm.errors && !form.errors?.matchingPassword)}">
    <input type="password" formControlName="confirm" class="form-control" id="confirm" placeholder="Password">
    <ul class="help-block">
    	<li *ngIf="form.controls.confirm.errors?.required && form.controls.confirm.dirty">This field is required</li>
    	<li *ngIf="form.errors?.matchingPassword && form.controls.confirm.dirty">Password must be match</li>
    </ul>
</div>
  </div>
  
  <button [disabled]="!form.valid || processing" type="submit" class="btn btn-primary">Submit</button>
</form>